<ul class="nav navbar-nav navbar-right">
    <li>
        <% if logged_in? %>
            I am <%= current_user.name %>
            <%= link_to 'Log out', logout_path, :method => :delete %></li>
        <% elsif !logged_in? %>
            <li><%= link_to 'Log in', login_path %></li>
        <% end %>
    <li><%= link_to 'Make a Post', new_post_path %></li>
</ul>
